* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;

    font-size: 3rem;

    color: white;
    background-color: black;
}

.stopwatchApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .timeDisplay {
        margin: 40px 0 20px;
        display: flex;
        align-items: center;
    }

    .buttonWrapper button {
        font-size: 2rem;
        padding: 5px;

        width: 60px;
        height: 60px;
        // border-radius: 50%;
    }
}

.output {
    margin-top: 20px;
}

.output div {
    display: flex;
    direction: column;
    gap: 10px;

    font-size: 2rem;
}